.d-flex.align-items-center.justify-content-between.my-4
  %h1 Facebook Accounts

  = button_to 'auth/facebook', method: :post, class: 'btn btn-primary' do
    %i.bi.bi-facebook
    Connect new account

- @facebook_accounts.each do |acc|
  .d-flex.align-items-center.mb-4
    .me-4
      = image_tag acc.image, class: 'rounded-circle me-4'
      -# = link_to acc.name, acc.account.get_object('me'), class: 'link-primary', target: '_blank'
    = button_to 'Disconnect', acc, method: :delete, data: { confirm: 'Are you sure?'}, class: 'btn btn-danger'
