%h1 Login

= simple_form_for :user, url: login_path do |f|
  .mb-3
    = f.input :email, label: 'Email: ', input_html: { class: 'form-control' }
  .mb-3
    = f.input :password, input_html: { class: 'form-control' }
  .mb-3
    = f.submit 'Login', class: 'btn btn-primary'
