= button_to 'auth/twitter', method: :post, class: 'btn btn-primary mx-2' do
  %i.bi.bi-twitter.icon_mr
  Connect a new account
= button_to 'auth/facebook', method: :post, class: 'btn btn-primary mx-2' do
  %i.bi.bi-facebook.icon_mr
  Connect a new account