.bg-white.p-5.rounded-lg.m-3
  %h1.mb-2 Schedule Post App
  %h4 This is an app where you can create your posts for social networks and schedule them for when you want.
  %hr.my-4
  %p
    %b Sign up and start scheduling your posts
  .btns
    = link_to 'Sign Up', signup_path, class: 'btn btn-primary mr-3'
    = link_to 'Login', login_path, class: 'btn btn-primary'