.posts-title.d-flex.justify-content-between.align-items-center
  %h1 Posts

  = link_to new_post_path, class: 'btn btn-primary' do
    %i.bi.bi-pencil-square.icon_mr
    Schedule a Post

- unless Current.user.has_any_account?
  .d-flex
    = render 'shared/new_account_btns'

.posts
  = render @posts
