.d-flex.justify-content-between.align-items-center
	%h1 Posts

	= link_to 'Schedule a Post', new_post_path, class: 'btn btn-primary'

.d-flex
	-if Current.user.twitter_accounts.none?
		= button_to 'auth/twitter', method: :post, class: 'btn btn-primary' do
			%i.bi.bi-twitter
			Connect a Twitter Account

= render @posts
