.posts-title {
  margin: 1rem;
}

.post {
  border-radius: 20px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, .3);
  margin: 3rem 0;
  padding: 0;

  .author {
    padding: .5rem;

    .author-image {
      display: inline-block;
      width: 3rem;
      margin-right: .5rem;
    }

    .author-name {
      display: inline-block;
    }
  }
  .post-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .post-body {
    padding: 1rem;
    border-bottom: rgba(51, 51, 51, .15) solid 1px;
  }
  .post-options {
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .post-btns {
      display: flex;
    }
  }
}

.posts {
  @media (min-width: 992px) {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-around;

    .post {
      width: 45%;
      margin: 2rem 1rem;
    }
  }
}

.pagination {
  justify-content: center;
}
